@tailwind base;
@tailwind components;
@tailwind utilities;

/* 字体显示优化 */
@font-face {
  font-family: 'Michroma';
  font-display: swap;
}

body {
  @apply bg-bg-primary text-fg-primary text-14 font-400 font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  @apply text-24 font-500 mb-16 tracking-2;
}

h2 {
  @apply text-16 font-500;
}

h3 {
  @apply text-14 font-500 mb-8;
}